body {
	width: 1020px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #282828;
	position: relative;
}
ul {
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	margin-top: 0px;
}
a {
	text-decoration: none;
}
#wrap {
	width: 1020px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	/* [disabled]background-color: #CCC;
*/
	height: 100%;
	float: left;
	margin-top: 0px;
	background-image: url(../img/back.png);
	margin-bottom: 0px;
}
#contianer {
	margin-top: 0px;
}
#footer {
	background-color: rgb( 0, 0, 0 );
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
	width: 1020px;
	height: 69px;
	float: left;
	margin-top: 0px;
}
/*General Rules Begin*/
.user_name, .add_title_IM ul li a,, the_user_comment .upload_btn p, .a_count, .a_tags ul li {
 font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}
/*General Rules Begin*/
/*Header Begin*/
.header {
	border-width: 3px;
	border-color: rgb( 255, 255, 255 );
	border-style: solid;
	background-color: rgb( 0, 0, 0 );
	width: 1016px;
	height: 79px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	clear: both;
	/* [disabled]float: left; */
	overflow-x: visible;
	overflow-y: visible;
	display: inline-block;
}
.a_tags {
	width: 369px;
	/* [disabled]background-color: #99FF66; */
	margin-top: 28px;
	float: left;
	margin-left: 10px;
	margin-right: 23px;
	padding: 0px;
	overflow-x: visible;
	overflow-y: visible;
	display: inline-block;
}
.line12 {
	height: 10px;
	width: 2px;
	background-color: #D6D6D6;
	/* [disabled]float: left; */
	margin-top: 3px;
}
.a_tags ul li {
	font-size: 12px;
	display: inline-block;
	/* [disabled]background-color: #999933;
*/
	margin-left: 10px;
	float: left;
}
.a_tags ul li a {
	color: rgb(255,255,255);
	font-size: 12px;
	text-align: left;
	clear: both;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;

}
.a_tags ul li a:hover {
	color: #F60;
}
.upload_btn {
	background-color: rgb( 255, 102, 0 );
	width: 135px;
	height: 79px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 3px solid rgb(244,244,244);
	/* [disabled]border-top-left-radius: 10px;
*/
	/* [disabled]border-top-right-radius: 10px;
*/
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.upload_image {
	width: 35px;
	height: 60px;
	float: left;
	margin-top: 7px;
	margin-left: 2px;
}
.upload_btn p {
	text-align: center;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.upload_btn p a {
	font-size: 30px;
	color: rgb( 255, 255, 255 );
}
.search {
	border-radius: 10px;
	width: 158px;
	height: 31px;
	float: left;
	margin-top: 28px;
	/* [disabled]background-color: #0099CC;
*/
	margin-left: 4px;
}
.message_n {
	width: 24px;
	height: 25px;
	border-width: 0.5px;
	border-color: rgb( 255, 255, 255 );
	border-style: solid;
	margin-top: 2px;
	opacity: 0.5;
}
.message_n:hover {
	background-color: rgb( 255, 102, 0 );
	cursor: pointer;
	opacity: 1;
}
.message_s {
	width: 14px;
	height: 16px;
	float: left;
	margin-top: 7px;
	margin-left: 10px;
	opacity: 0.5;
}
.message_s:hover {
	background-color: rgb( 255, 102, 0 );
	opacity: 1;
}
.big_list {
	/* [disabled]background-color: #99CC00;
*/
	width: 307px;
	height: 30px;
	float: left;
	margin-top: 25px;
}
.big_list ul li {
	display: inline-block;
}
.noti {
	width: 15px;
	height: 16px;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
}
.set_hea {
	width: 20px;
	height: 25px;
	margin-top: -5px;
	margin-left: -3px;
}
.first_ul_l {
	float: left;
}
.user_name_image {
	width: 135px;
	height: 30px;
	float: left;
	/* [disabled]background-color: #FFFFFF;
*/
	margin-left: 10px;
	/* [disabled]overflow: hidden;
*/
}
.userShape_IM {
	border-width: 0.79px;
	border-color: rgb( 204, 204, 204 );
	border-style: solid;
	background-color: rgb( 255, 102, 0 );
	width: 24px;
	height: 25px;
	float: left;
	margin-top: 2px;
	margin-bottom: 1px;
	opacity: 0.5;
	cursor: pointer;
}
.userShape_IM img {
	width: 24px;
	height: 25px;
	float: left;
}
.userShape_IM:hover {
	opacity: 1;
}
.user_name {
	font-size: 13px;
	padding-top: 0px;
	color: rgb( 255, 255, 255 );
	width: 78px;
	height: 17px;
	/* [disabled]background-color: #0033CC;
*/
	float: left;
	/* [disabled]text-align: left;
*/
	margin-top: 7px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 10px;
	margin-right: 20px;
}
.user_name:hover {
	color: #F60;
}
.log_out {
	float: left;
	width: 24px;
	height: 23px;
	/* [disabled]background-color: #0066FF;
*/
	margin-left: 8px;
	margin-right: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #99CC33;
	margin-top: 2px;
	opacity: 0.5;
}
.log_out:hover {
	cursor: pointer;
	opacity: 1;
}
.log_out_img {
	width: 23px;
	height: 23px;
	opacity: 1;
}
/*
.search input[type="text"]{
		border-radius: 10px;
	width: 151px;
	height: 28px;
	font-size: 14px;
	color: #000000;
	float: left;
	}
.search_btn {
	border-width: 0.5px;
	border-color: rgb( 255, 255, 255 );
	border-style: solid;
	background-color: rgb( 255, 102, 0 );
	width: 21px;
	height: 28px;
}
.search_img{
	margin-left: -19px;
	margin-top: 1px;
	}
*/

/*Header End*/
	
	
/*#header {
	height: 70px;
	background-image: url(../img/home_page_after_login/header.png);
	background-repeat: no-repeat;
	float: none;
	margin-bottom: 0px;
}
#header li {
	display: inline;
	}

	
#header a {
font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
  color: rgb( 102, 102, 102 );
  font-size:12px;
}
#a_tags {
	height: 16px;
	margin-left: 37px;
	width: 403px;
}
#upload_img {
	float: left;
	height: 43px;
	width: 78px;
	margin-left: 470px;
	position: relative;
	top: 10px;
}
#search_field {
	float: left;
	width: 160px;
	height: 27px;
	margin-left: 40px;
}
#user_profile_area {
	float: left;
	height: 27px;
	margin-left: 44px;
	width: 80px;
}
#notification_area {
	float: left;
	height: 27px;
	margin-left: 59px;
}
#search_f{
	border-radius: 10px;
    background-color: rgb( 255, 255, 255 );
	}
#search_img{
	width: 20px;
	height: 27px;
	margin-left: 136px;
	position: relative;
	top: -26px;
	left: -2px;
	}
.a_tags_class{
	top: 19.22px;

	}
#a_tags .a_tags_class a{
	color: rgb( 204, 204, 204 );
	font-size: 12px;
	font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
	;
	color: rgb( 204, 204, 204 );
	font-weight: bold;
	}
#a_tags .a_tags_class a:hover{
	color:#F60;
	}
#user_name a{
	font-size: 12px;
	font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;;
	color: rgb( 204, 204, 204 );
	position: relative;
	left: 22px;
	top: -25px;
	}
#user_name a:hover{
	color:#F60;
}*/

	/* shapes and borders */
	/* first_slider */
#the_first_slider {
	width: 640px;
	height: 309px;
	margin-left: 0px;
	/*position: relative;
	left: 0px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}
#shape_1, #shape_2, #shape_3 {
	background-color: rgb( 204, 204, 204 );
	width: 295px;
	position: relative;
	top: 7px;
	overflow-x: hidden;
	overflow-y: hidden;
}
#shape_1, #shape_3 a img {
	height: 273px;
}
#shape_1 a img {
	position: absolute;
	height: 273px;
}
#shape_3 a img {
	position: absolute;
	height: 273px;
	left: -125px;
}
#shape_2 a img {
	height: 292px;
	position: relative;
}
#shape_1, #shape_3, #shape_2 a img {
	width: 295px;
	clear: both;
}
#shape_2 {
	position: relative;
	height: 292px;
	top: -557px;
	left: 370px;
	/*background-image: url(file:///E|/2048.jpg);
	background-repeat:no-repeat;*/
	background-size: 295px 292px;
}
#shape_3 {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	position: relative;
	right: -225px;
	height: 273px;
	top: -270px;
	/*background-image: url(file:///E|/2048.jpg);
	background-repeat: no-repeat;*/
	background-size: 295px 273px;
}
#shape_1 {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	position: relative;
	height: 273px;
	left: 524px;
	background-image: url(file:///E|/2048.jpg);
	background-repeat: no-repeat;
	background-size: 295px 273px;
	top: 0px;
}
/* creat Story */
.the_second_slider {
	/*background-color: #0CF;*/
	width: 222px;
	height: 162px;
	float: left;
}
.creat_story_class {
	margin-left: 190px;
}
#shape_4, #shape_5, #shape_6 {
	border: solid #FFFFFF;
	background-color: rgb( 204, 204, 204 );
}
#shape_4 {
	width: 118px;
	height: 165px;
	float: left;
}
#shape_5 {
	width: 62px;
	height: 81px;
	float: left;
	margin-left: 7px;
}
#shape_6 {
	width: 46px;
	height: 76px;
	float: left;
	margin-left: 23px;
	margin-top: 4px;
}
/*BUTTONS BEGIN*/
.creat_story {
	font-size: 11px;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	;
	color: rgb( 102, 102, 102 );
	margin-left: 30px;
	margin-right: 22px;
	font-style: normal;
	font-weight: bold;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	position: relative;
	top: 3px;
}
.shape_7, .creat_story:hover {
	cursor: pointer;
	color: #333333;
}/*BUTTONS BEGIN*/
/* ---End of crear story--- */
.shape_button {
	border-radius: 10px;
	background-color: rgb( 255, 255, 255 );
	width: 122px;
	height: 29px;
	float: left;
}
/* view library */
.view_library {
	float: left;
	margin-left: 25px;
}
.shape_library {
	background-color: rgb( 255, 255, 255 );
	width: 57px;
	height: 52px;/*margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;*/
}
.shape_library a img {
	width: 57px;
	height: 52px;
}
#shape_8 {
	float: left;
	margin-left: 2px;
}
#shape_9 {
	float: left;
	margin-left: 13px;
}
#shape_10 {
	float: left;
	margin-left: 12px;
}
#shape_11 {
	float: left;
	margin-left: 2px;
	margin-top: 11px;
}
#shape_12 {
	float: left;
	margin-top: 11px;
	margin-left: 13px;
}
#shape_13 {
	float: left;
	margin-top: 11px;
	margin-left: 12px;
}
#shape_14 {
	float: left;
	margin-left: 2px;
	margin-top: 11px;
}
#shape_15 {
	float: left;
	margin-top: 11px;
	margin-left: 13px;
}
#shape_16 {
	float: left;
	margin-top: 11px;
	margin-left: 12px;
}
.shape_19 {
	margin-left: 255px;
}/* ------End of view library------- */
/* ------Edit photos------- */
.edit_photos_b {
	float: left;
	margin-left: 25px;
	width: 300px;
	height: 162px;
}
#shape_20 {
	float: left;
	width: 178px;
	height: 168px;
	border: solid #FFFFFF;
	background-color: rgb( 204, 204, 204 );
}
#shape_21 {
	float: left;
	width: 92px;
	height: 92px;
	border: solid #FFFFFF;
	background-color: rgb( 204, 204, 204 );
	margin-left: -26px;
	margin-top: -22px;
}
.shape_22 {
	margin-left: 485px;
}/* ------End of Edit photos------- */
/* ------Most popular------- */
#a_tags_container_border {
	float: left;
	width: 353px;
	height: 37px;
	background-color: #FFF;
	margin-left: 40px;	/*margin-top: -30px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}
#a_tags_container_border .a_middle {
	font-size: 11px;
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	;
	color: rgb( 102, 102, 102 );
	-moz-transform: matrix( 1.04814052390848, 0, 0, 1, 0, 0);
	-webkit-transform: matrix( 1.04814052390848, 0, 0, 1, 0, 0);
	-ms-transform: matrix( 1.04814052390848, 0, 0, 1, 0, 0);
	padding: 2px;
	font-weight: bold;
}
#most_popular {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
	margin-top: 9.25px;
	padding-left: 0px;
}
#most_popular li a:hover {
	text-decoration: underline;
	color: #333333;
}
#most_popular li {
	display: inline-block;
	padding-left: 14px;
	margin-left: 1px;
	margin-right: 2px;
}
/* ------End of Most popular------- */

/* ------The_three_Images------- */
#sliders_borders {
	width: 940px;
	float: left;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	min-height: 100%;
}
.shape_23 {
	background-color: rgb( 255, 255, 255 );
	width: 310px;
	height: 256px;
	float: left;
	margin-bottom: 4px;
}
.shape_23 a img {
	width: 310px;
	height: 256px;
}
#posetion_24, #posetion_25 {
	margin-left: 3px;
}
/* ------End of The_three_Images------- */
#buttons {
	height: 32px;
	width: 700px;
	float: left;
	margin-top: 25px;
	margin-left: 194px;
	margin-right: 255px;
}
#creat_posetion_2 {
	margin-left: 153px;
}
#creat_posetion_3 {
	margin-left: 123px;
}
/*--ADMIN--*/
#admin_ {
	width: 940px;
	height: auto;
	margin-top: 0px;
	padding-top: 0px;
	background-color: #0066CC;
	margin-left: 39px;
}
#admin_ ul {
	margin-top: 0px;
	margin-left: 334px;
	margin-right: 0px;
}
#admin_ ul li {
	padding-left: 4px;
	display: inline;
}
#admin_ ul li a {
	color: #000000;
}
#admin_ ul li a:hover {
	text-decoration: underline;
}
/*--End of ADMIN--*/
